.ant-checkbox {
  align-self: start;
  & + span {
    padding-inline-start: 16px;
  }
}

.ant-checkbox .ant-checkbox-inner {
  width: 24px;
  height: 24px;
  &:after {
    inset-inline-start: 32.5%;
  }
}
