@import "../mixins/colors";
@import "../variables/colors";

$blackColors: (
  1: $color-black-1,
);

$primaryColors: (
  3: $color-primary-3,
  4: $color-primary-4,
  5: $color-primary-5,
  6: $color-primary-6,
  9: $color-primary-9,
);

$successColors: (
  6: $color-success-6,
);

$grayColors: (
  1: $color-gray-1,
  2: $color-gray-2,
  3: $color-gray-3,
  4: $color-gray-4,
  5: $color-gray-5,
  6: $color-gray-6,
  7: $color-gray-7,
  8: $color-gray-8,
  9: $color-gray-9,
  10: $color-gray-10,
);

$redColors: (
  1: $color-red-1,
  2: $color-red-2,
  3: $color-red-3,
  4: $color-red-4,
  6: $color-red-6,
);

$whiteColors: (
  1: $color-white-1,
);

$colorsList: (
  "black": $blackColors,
  "primary": $primaryColors,
  "success": $successColors,
  "gray": $grayColors,
  "red": $redColors,
  "white": $whiteColors,
);

@each $type, $colors in $colorsList {
  @include create-colors($type, $colors);
}
