@import "../mixins/typography";
@import "../variables/typography";

$texts: (
  0: $text-0,
  1: $text-1,
  2: $text-2,
  3: $text-3,
  4: $text-4,
  5: $text-5,
  6: $text-6,
  7: $text-7,
  8: $text-8,
  9: $text-9,
);

$text-heights: (
  0: $text-height-0,
  1: $text-height-1,
  2: $text-height-2,
  3: $text-height-3,
  4: $text-height-4,
  5: $text-height-5,
  6: $text-height-6,
  7: $text-height-7,
  8: $text-height-8,
  9: $text-height-9,
);

@include create-typography($texts, $text-heights);
