/* ================================COLOR==============================*/
//black
$color-black-1: #000000;
$color-black-2: #0d121f;
$color-black-3: #111828;

//primary
$color-primary-3: #99c0ff;
$color-primary-3-alpha-50: #99c0ff7f;
$color-primary-3-alpha-20: #99c0ff33;
$color-primary-4: #66a1ff;
$color-primary-5: #3391ff;
$color-primary-6: #0062ff;
$color-primary-9: #003180;

//success
$color-success-6: #15b982;
$color-success-6-alpha-20: #15b98233;

//gray
$color-gray-1: #ffffff;
$color-gray-2: #f9fafb;
$color-gray-3: #eaedf0;
$color-gray-4: #cdd3db;
$color-gray-5: #bec6d0;
$color-gray-6: #afb9c5;
$color-gray-7: #92a0b0;
$color-gray-8: #5c6c7f;
$color-gray-9: #475362;
$color-gray-10: #272d35;

//red
$color-red-1: #fff1f0;
$color-red-2: #ffccc7;
$color-red-3: #ffa39e;
$color-red-4: #ff7875;
$color-red-6: #f5222d;
$color-red-6-alpha-20: #f5222d33;

//white
$color-white-1: #ffffff;

$bg-layout: #f6f6fa;
