/* Font size */
$text-0: 56px;
$text-1: 46px;
$text-2: 38px;
$text-3: 30px;
$text-4: 24px;
$text-5: 20px;
$text-6: 16px;
$text-7: 14px;
$text-8: 12px;
$text-9: 10px;

/* Line height */
$text-height-0: 64px;
$text-height-1: 54px;
$text-height-2: 46px;
$text-height-3: 38px;
$text-height-4: 32px;
$text-height-5: 28px;
$text-height-6: 24px;
$text-height-7: 22px;
$text-height-8: 20px;
$text-height-9: 18px;
