@mixin create-colors($type, $colors) {
  @each $key, $color in $colors {
    // Colors
    .#{$type}-#{$key} {
      color: $color;
    }
    @if $type == "gray" {
      .dark .#{$type}-#{ 11 - $key} {
        color: $color;
      }
    }
    // Background colors
    .bg-#{$type}-#{$key} {
      background-color: $color;
    }
  }
}
