@mixin create-colors($colors) {
  @each $key, $color in $colors {
    .#{$key} {
      color: $color;
    }
  }
}

@mixin create-backgroundColors($backgroundColors) {
  @each $key, $backgroundColor in $backgroundColors {
    .bg-#{$key} {
      color: $backgroundColor;
    }
  }
}
